.about-section {
  background-color: #272b38;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.about-container {
  flex-direction: column;
}

.about-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 20px 0;
}

.about-text {
  text-align: center;
  margin-bottom: 20px;
}

.about-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skill {
  background: #4e4e4e;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

@media screen and (min-width: 860px) {
  .about-text {
    width: 50%;
  }
}
