.contact-section {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.contact-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.contact-heading {
  color: #f06000;
  font-weight: 700;
  font-size: 18px;
}

.contact-top h3 {
  font-size: 38px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.contact-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-bottom {
  width: 50%;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}

.contact-left {
  width: 60%;
  min-width: 240px;
  margin-top: 50px;
  margin-right: 20px;
}

.form-input {
  width: 100%;
  margin-top: 20px;
}

.message-input {
  font-size: inherit;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 20px;
  border: 1px solid rgb(118, 118, 118);
}

.message-input:hover {
  border: 2px solid rgb(59, 59, 59);
}

.message-input:focus {
  outline: none !important;
  border: 2px solid #3f51b5;
  box-shadow: 0 0 10px #719ece;
}

.MuiFormControl-root {
  width: 100%;
}

.contact-item {
  margin-top: 10px;
}

.email {
  color: red;
  height: 0;
  transition: all 0.4s;
  opacity: 0;
  position: absolute;
  margin-left: -30px;
  margin-top: 20px;
}

.email-incorrect {
  opacity: 1;
  height: 100%;
}
