#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -30px;
}

.header-container {
  flex-direction: column;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
}

.header-btns {
  margin-top: 20px;
}

.profile-img {
  height: auto;
  width: 100%;
  margin-top: 30px;
}

.socials {
  display: flex;
  margin-top: 30px;
}

.social-icon {
  text-decoration: none;
  background-color: #00b18a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 7px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 0 10px;
}

@media screen and (min-width: 860px) {
  #home {
    margin-top: -80px;
  }
  .header-container {
    flex-direction: row;
  }
  .header-left {
    width: 60%;
    align-items: flex-start;
  }
  .header-right {
    width: 40%;
  }
  .profile-img {
    margin-top: -50px;
  }
}
