#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px;
  color: white;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}

.profile-img {
  height: auto;
  width: 100%;
  margin-top: -50px;
}

.header-btn:hover {
  background-color: #f06000;
}

@media screen and (max-width: 680px) {
  .header-heading {
    font-size: 40px;
  }
  .header-greeting {
    font-size: 16px;
  }
  .header-text {
    font-size: 16px;
  }
}
