.navbar {
  background: #161415;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;
  transition: all 200ms;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo-img {
  color: #00b18a;
  width: 50px;
  margin-right: 10px;
}

.nav-logo-text {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.3px;
}

.navbar-links {
  display: none;
}

.nav-item {
  cursor: pointer;
  color: white;
  font-size: 16px;
  transition: all 0.2s;
}

.nav-item:hover {
  color: #26f1c4;
}

.nav-active {
  color: #00b18a;
}

.hamburger {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 860px) {
  .hamburger {
    display: none;
  }
  .navbar-links {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar-container {
    width: 100%;
  }
  .navbar-scrolled {
    background-color: #11161c;
  }
}
