* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a2028;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 30px;
}

.heading {
  font-size: 30px;
  color: #00b18a;
  font-weight: 600;
}

.section-heading {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.sub-heading {
  font-weight: 500;
  color: #fff;
}

.white-span {
  color: #fff;
}

.primary-span {
  color: #00b18a;
}

.body-text {
  font-size: 14px;
  font-weight: 500;
  color: #8b9198;
  text-align: center;
}

.button-primary {
  background-color: #00b18a;
  color: white;
  width: fit-content;
  font-size: 14px;
  padding: 10px 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  border-radius: 8px;
}

.button-primary:hover {
  background-color: #26f1c4;
}

.button-secondary {
  border: 2px solid #00b18a;
  color: #00b18a;
  background: none;
  width: fit-content;
  font-size: 14px;
  padding: 8px 11px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 8px;
}

.button-secondary:hover {
  border: 2px solid #26f1c4;
  color: #26f1c4;
}

.btn-spacer {
  margin: 0 15px;
}

@media screen and (min-width: 860px) {
  .container {
    width: 80%;
    max-width: 1300px;
  }
  .heading {
    font-size: 60px;
  }
  .section-heading {
    font-size: 30px;
  }
  .body-text {
    font-size: 16px;
    text-align: start;
  }
  .sub-heading {
    font-size: 18px;
  }
  .button-primary {
    padding: 12px 15px;
  }
  .button-secondary {
    padding: 10px 13px;
  }
}
